# Evita enviar al contexto de build archivos innecesarios o temporales desde la carpeta frontend.

node_modules
npm-debug.log*
yarn-debug.log*

# Archivos generados por builds previos
build

# Archivos de configuración/entorno local
.env

# Control de versiones y metadatos del host
.git
.gitignore

# Archivos temporales y cachés
*.log
.DS_Store
Thumbs.db

# Evitar incluir archivos de Docker si no son necesarios en el build
.dockerignore
Dockerfile*